// enhanced menu style
// apply to YggLeftNav__list
@mixin enhanced-item-border-and-spacing() {
    &.YggLeftNav__list--nested {
        .YggLeftNav__item:last-child {
            margin-bottom: 0;
        }
    }
    &:not(.YggLeftNav__list--nested) {
        & > .YggLeftNav__item {
            border-bottom: 1px solid $ui-03;
            padding-bottom: 1rem;
            margin-bottom: .5rem;
        }
    }
}

// apply to YggLeftNav__list
@mixin enhanced-item-font-size() {
    .YggLeftNav__item {
        @include font-size('16');

        &--has-children {
            & > .YggLeftNav__item-link {
                @include font-size('12');
            }
        }
    }
}

//
