@mixin YggDropdownOpenArrow {
    transform: rotate(-180deg);
}

@mixin YggDropdownOpenList {
    @include font-size('14');
    display: flex;
    flex-direction: column;
}

@mixin YggDropdownShadowBottom {
    //box-shadow: 0 1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
    @include focus-outline('layer')
}

@mixin YggDropdownShadowTop {
    //box-shadow: 0 -1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
    @include focus-outline('layer')
}
